.analysis {
    background-color: $black-0;
    color: $white;
    padding: 130px 0 90px;
    @media #{$xl} {
        padding: 110px 0 80px;
    }
    @media #{$lg} {
        padding: 64px 0;
    }
    @media #{$md} {
        padding: 50px 0;
    }
    @media #{$sm} {
        padding: 40px 0;
    }
    & .section-title {
        opacity: 0;
        transition: all 1s linear;
        transition-delay: .5s;
    }
    &.shown {
        & .section-title {
            opacity: 1;
        }
        & .analysis-inner {
            opacity: 1;
        }
    }
    &-inner {
        display: flex;
        margin-top: 40px;
        position: relative;
        opacity: 0;
        transition: all 1s linear;
        transition-delay: 1s;
        @media #{$xl} {
            margin-top: 55px;
        }
        @media #{$lg} {
            flex-direction: column;
            margin-top: 45px;
        }
        @media #{$sm} {
            margin-top: 30px;
        }
    }
    &__steps {
        height: 523px;
        padding-right: 87px;
        overflow: hidden;
        @media #{$xl} {
            max-height: 460px;
            padding-right: 56px;
        }
        @media #{$lg} {
            height: auto;
            padding-right: 0;
        }
    }
    &__stages {
        flex-direction: column;
        display: flex;
        gap: 52px;
        @media #{$lg} {
            gap: 0;
        }
    }
    &__arrows {
        position: absolute;
        height: calc(523px + 60px);
        width: 48px;
        left: calc((100% - 650px) / 2 - 24px);
        top: -30px;
        @media #{$xl} {
            height: calc(460px + 60px);
        }
        @media #{$lg} {
            display: none;
        }
    }
    &__stage {
        list-style: none;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        height: 50%;
        @media #{$lg} {
            text-align: center;
            display: block;
            margin-top: 40px;
        }
        @media #{$md} {
            margin-top: 28px;
        }
        &:first-of-type {
            margin-top: 0;
            .analysis__number {
                transform: translateX(-30px);
            }
        }
        &:nth-child(3) {
            display: none;
        }
        &:nth-child(4) {
            display: none;
        }
    }
    &__number {
        grid-row: 1/3;
        font-size: 300px;
        margin-left: -5px;
        font-weight: 300;
        line-height: 0.7;
        color: $gray-d;
        align-self: center;
        @media #{$xl} {
            font-size: 257px;
            margin-left: -14px;
        }
        @media #{$lg} {
            display: none;
        }
    }
    &__title {
        align-self: flex-end;
        font-size: 34px;
        font-weight: 300;
        margin-left: -80px;
        line-height: 1.1;
        @media #{$xl} {
            font-size: 30px;
            margin-left: -40px;
        }
        @media #{$lg} {
            margin-left: 0;
        }
        @media #{$sm} {
            font-size: 24px;
        }
    }
    &__text {
        margin-top: 14px;
        margin-left: -80px;
        font-size: 20px;
        line-height: 1.2;
        align-self: flex-start;
        @media #{$xl} {
            font-size: 18px;
            margin-left: -40px;
        }
        @media #{$lg} {
            margin-left: 0;
        }
        @media #{$sm} {
            margin-top: 10px;
            font-size: 18px;
        }
    }
    &__form {
        padding-top: 13px;
        flex: 0 0 650px;
        padding-left: 58px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $gray;
            @media #{$xl} {
                height: 460px;
            }
            @media #{$lg} {
                display: none;
            }
        }
        @media #{$xl} {
            padding-top: 0;
        }
        @media #{$lg} {
            padding-left: 0;
            padding-top: 50px;
            margin-top: 50px;
            border-left: 0;
            border-top: 1px solid $gray;
            flex: initial;
        }
        @media #{$sm} {
            padding-top: 40px;
            margin-top: 40px;
        }
    }
    &__form-title {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 4px;
        text-transform: uppercase;
        @media #{$xl} {
            padding-top: 0;
        }
        @media #{$lg} {
            text-align: center;
        }
        @media #{$sm} {
            font-size: 20px;
        }
    }
    &__form-text {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        @media #{$lg} {
            text-align: center;
        }
    }
    &__form-inner {
        margin-top: 40px;
        @media #{$lg} {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 28px;
            & .form__row {
                flex-direction: column;
                gap: 21px;
            }
            & .form__row:nth-child(2) {
                grid-column: 1/2;
            }
            & .form__row--textarea {
                grid-row: 1/3;
                grid-column: 2/3;
                margin-top: 0;
                & .form__block {
                    height: 100%;
                }
            }
            & .form__textarea {
                height: 100%;
            }
            & .form__row--agreement {
                grid-row: 3/4;
                grid-column: 1/3;
                @include flex-center-center;
                flex-direction: row;
            }
        }
        @media #{$md} {
            & .form__row--agreement {
                justify-content: flex-start;
            }
            & .form__agreement {
                width: calc(50% - 34px);
                text-align: right;
                margin-right: 28px;
            }
        }
        @media #{$sm} {
            display: block;
            & .form__row--textarea {
                margin-top: 26px;
                height: 142px;
            }
            & .form__row--agreement {
                flex-direction: column;
                justify-content: center;
                gap: 35px;
            }
            & .form__agreement {
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }
    }
}