.news-list {
    padding: 60px 0 88px;
    overflow: hidden;
    @media #{$lg} {
        padding: 50px 0 60px;
    }
    @media #{$md} {
        padding: 50px 0;
    }
    @media #{$sm} {
        padding: 40px 0 50px;
    }
    @media #{$esm} {
        padding: 40px 0;
    }
    &__links {
        @include flex-center;
        justify-content: center;
        gap: 41px;
        @media #{$sm} {
            gap: 18px;
        }
        @media #{$esm} {
            width: calc(100% + 32px);
            overflow: auto;
            justify-content: flex-start;
            @include no-scrollbar;
        }
    }
    &__link {
        border: 1px solid $gray-d;
        transition: all .3s ease-in-out;
        border-radius: 34px;
        color: $black-0;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.56px;
        white-space: nowrap;
        @media #{$sm} {
            font-size: 12px;
            letter-spacing: 0.48px;
        }
        & a {
            display: block;
            padding: 12px 28px;
            @media #{$sm} {
                padding: 8px 14px;
            }
        }
        @include hover {
            border: 1px solid #555555;
            background: #555555;
            color: $white;
        }
        &.active {
            border: 1px solid #555555;
            background: #555555;
            color: $white;
        }
    }
    &__items {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 56px 84px;
        @media #{$xl} {
            margin-top: 50px;
            gap: 50px 70px;
        }
        @media #{$lg} {
            margin-top: 40px;
        }
        @media #{$md} {
            gap: 40px 24px;        
        }
        @media #{$sm} {
            margin-top: 30px;
            gap: 30px 24px;
        }
        @media #{$esm} {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    &__item {
        opacity: 0;
        &.shown {
            opacity: 1;
            transition: all 1s linear;
            transition-delay: .75s;
        }
        @include hover {
            & .news-list__img img {
                transform: scale(1.1);
            }
        }
    }
    &__img {
        height: 392px;
        overflow: hidden;
        @media #{$xl} {
            height: 337px;
        }
        @media #{$lg} {
            height: 280px;
        }
        @media #{$md} {
            height: 210px;
        }
        @media #{$sm} {
            height: 152px;
        }
        @media #{$esm} {
            height: 220px;
        }
        & img {
            transition: transform 0.5s ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__date {
        display: block;
        margin-top: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: $gray;
        @media #{$lg} {
            font-size: 12px;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        color: $black-0;
        margin-top: 5px;
        @media #{$lg} {
            font-size: 18px;
        }
        @media #{$sm} {
            font-size: 16px;
        }
    }
}