$big-margin-top-tags: (
    'p > img',
    'pre',
    'figure',
    '> img',
    '> table',
    'iframe',
    '.typography__table-box',
    '> picture',
    '.typography__imgs',
    '.typography__img',
);

$max-width-100: (
    'img', 
    'iframe',
    'ul',
    'ol',
    'picture',
);

$block-tags: (
    'p > img',
    'pre',
    'figure',
    '> img',
    '> picture',
);

$text-tags: (
    '> h1',
    '> h2',
    '> h3',
    '> h4',
    '> h5',
    '> h6',
    '> p',
    '> ul',
    '> ol',
    '> pre',
    '> figure',
);

.typography {
    font-size: 1.25rem;
    color: $color-text-base;
    @media #{$xl} {
        font-size: 1rem;
    }
    * {
        margin-bottom: 0;
        font-weight: 400;
    }
    & *:first-child {
        margin-top: 0;
    }
    &.container{
        padding: 80px 0;
        max-width: 1074px;
        @media #{$xl} {
            max-width: 936px;
        }
        @media #{$lg} {
            padding: 50px 24px;
        }
        @media #{$sm} {
            padding: 40px 24px;
        }
        @media #{$esm} {
            padding: 40px 15px;
        }
    }
    &.popup-inner {
        font-size: 1rem;
    }
    a{
        text-decoration: underline;
        font-weight: 600;
        text-decoration: underline;
    }
    b, strong{
        font-weight: 600;
    }
    // 1-h6 styles
    @for $i from 1 through 7 {
        h#{$i} {
            font-size: $title-fs-start - ( $i - 1 ) * $title-fs-step;
            font-weight: 400;
            @media #{$md} {
                font-size: calc($title-mobile-fs-base + ( 7 - $i ) * $title-mobile-fs-step);
            }
            line-height: 1.1em;
            @if $i < 3 {
                margin-top: 1.4em;
            } @else {
                margin-top: 1.2em;
            }
        }
    }
    p,
    ul, ol,
    tbody td {
        font-size: 1em;
        margin-top: 0.875em;
        line-height: 1.625em;
        color: $color-text-base;
    }
    ul,ol{
        padding-left: 1.875rem;
        li{
            margin-top: 0.5em;
            line-height: 1.4em;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    ul{
        li{
            list-style: disc;
            &::marker{
                color: $market-color;
            }
        }
    }
    ol{
        li{
            list-style: decimal;
        }
    }
    @each $tag in $max-width-100 {
        #{$tag}{
            max-width: 100%;
        }
    }
    @each $tag in $block-tags {
        #{$tag}{
            display: block;
        }
    }
    @each $tag in $big-margin-top-tags {
        #{$tag}{
            margin-top: 2.25em;
            margin-bottom: 2.25em;
        }
    }
    @each $tag in $text-tags {
        #{$tag}{
            max-width: $box-text-size-2xl;
            @media #{$xl} {
                max-width: $box-text-size;
            }
        }
    }
    
    table {
        font-size: 1em;
        thead {
            background: $table-header-background-color;
            td, th{
                color: $table-header-color;
                font-weight: 600;
            }
        }
        tr {
            vertical-align: top;
            td, th {
                padding: 1em;
                border: 1px solid $table-border-color;
                > *:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    figure {
        position: relative;
        padding-left: 6.875em;
        line-height: 1.625;
        color: $blockquote-color-base;
        @media #{$sm} {
            padding-left: 0;
        }
        //@apply md:pl-[6.875em];
        &:before{
            display: block;
            content: '';
            mask-image: url(../img/icons/quotation.svg);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            background-color: $blockquote-color-decorative;
            width: 1em;
            height: 0.7em;
            font-size: 4.5rem;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 0;
            @media #{$sm} {
                font-size: 3rem;
                position: relative;
            }
            //content: '\f10e';
            //font-family: "Font Awesome 6 Free";
            //position: absolute;
            //@apply text-[3.0rem] md:absolute md:text-[4.5rem];
        }
        blockquote{
            //@apply max-md:mt-5 text-[1.125em];
            @media #{$sm} {
                font-size: 1.125em;
                margin-top: 0.75em;
            }
            > *:first-child{
                margin-top: 0;
            }
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 3px;
                left: 85px;
                top: 0;
                background-color: $blockquote-color-decorative;
                @media #{$sm} {
                    display: none;
                }
                //@apply max-md:hidden;
            }
        }
        figcaption {
            margin-top: 0.625em;
            font-size: 1em;
            cite {
                font-size: 0.875em;
                display: flex;
                font-weight: 600;
                //@apply font-semibold;
            }
        }
    }
    > *:first-child{
        margin-top: 0;
    }
    /* align all blocks in center by horizontal */
    &_block-center{
        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__table-box{
        overflow: auto;
    }
    & .typography__imgs {
        @include flex-center-center;
        gap: 8px;
        width: 1296px;
        position: relative;
        left: -121px;
        @media #{$xl} {
            width: 1116px;
            left: -90px;
        }
        @media #{$lg} {
            width: 100%;
            left: 0;
            position: initial;
        }
        @media #{$sm} {
            flex-direction: column;
            gap: 10px;
        }
        & img {
            width: calc(50% - 4px);
            left: 0;
            position: initial;
            @media #{$sm} {
                width: auto;
                max-width: 100%;
            }
        }
        & * {
            margin: 0!important;
        }
    }
    & .typography__img {
        width: 1296px;
        max-width: initial;
        position: relative;
        left: -121px;
        @media #{$xl} {
            width: 1116px;
            left: -90px;
        }
        @media #{$lg} {
            width: 100%;
            left: 0;
            position: initial;
        }
    }
}
